@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,500&subset=cyrillic");
body, html {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
  background-image: url("../images/toshishito_pattern_salmon.jpg");
  background-position: center;
}

.arrow {
  cursor: pointer;
  width: 56px;
  height: 56px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -28px;
}
.arrow.next {
  right: calc((100vw - 1300px)/2);
}
.arrow.prev {
  left: calc((100vw - 1300px)/2);
  transform: rotate(180deg);
}

.beer-item {
  background-image: url("../images/ribbon.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beer-item .beer-image {
  margin: 0 50px 0 100px;
}
.beer-item .beer-image img {
  max-width: 100%;
  height: auto;
}
.beer-item .beer-content {
  margin-right: 100px;
  width: 50vw;
  max-width: 500px;
  color: white;
  padding: 50px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.beer-item .beer-content .title {
  margin: 0 auto 20px;
  padding-bottom: 15px;
  position: relative;
  color: #ffcc00;
  font-size: 36px;
  line-height: 1.1;
}
.beer-item .beer-content .title:before {
  content: '';
  position: absolute;
  width: 46px;
  height: 2px;
  border-bottom: 2px solid #ffcc00;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1280px) {
  .beer-item {
    background-size: 100% 320px;
  }

  .arrow.prev {
    left: 15px;
  }

  .arrow.next {
    right: 15px;
  }
}
@media (max-width: 900px) {
  .beer-item {
    flex-direction: column;
    background-image: none;
    padding: 0 20px;
  }
  .beer-item .beer-content {
    width: 100%;
    max-width: 100% !important;
    margin: 0;
  }
  .beer-item .beer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: #a55150;
    overflow: hidden;
  }
  .beer-item .beer-image img {
    margin-top: -120px;
  }

  .arrow {
    background-color: transparent;
    top: 150px;
  }
}
